#preloader
	#preloader__progress
		#preloader-svg__percentage 0
		svg(version="1.1" id="preloader-svg__img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="144px" height="144px" viewBox="0 0 144 144" enable-background="new 0 0 144 144" xml:space="preserve")
			circle(class="bar bar__outer" opacity="0.4" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-dasharray="439.822971503" stroke-dashoffset="439.822971503" stroke-miterlimit="10" enable-background="new" cx="72" cy="72" r="70" transform="rotate(-160 72 72)")

			circle(class="bar bar__center" opacity="0.7" fill="none" stroke="#FFFFFF" stroke-width="3.8938" stroke-dasharray="345.575191895" stroke-dashoffset="345.575191895" stroke-miterlimit="10" enable-background="new" cx="72" cy="72" r="55" transform="rotate(-120 72 72)")

			circle(class="bar bar__inner" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" stroke-dasharray="251.327412287" stroke-dashoffset="251.327412287" cx="72" cy="72" r="40" transform="rotate(-90 72 72)")
