icon-about_bg_left-dims {
	width: 1000px;
	height: 400px;
}

icon-about_bg_right-dims {
	width: 1000px;
	height: 400px;
}

icon-about_header-dims {
	width: 498.161px;
	height: 175.44px;
}

icon-bg-dims {
	width: 2000px;
	height: 400px;
}

icon-blog_header-dims {
	width: 302.193px;
	height: 208.012px;
}

icon-portfolio_header-dims {
	width: 1175.495px;
	height: 313.961px;
}

icon-stars1-dims {
	width: 186.861px;
	height: 110.966px;
}

icon-stars2-dims {
	width: 171.5px;
	height: 132.5px;
}

icon-stars3-dims {
	width: 103.03px;
	height: 124.03px;
}

icon-works_header-dims {
	width: 505.101px;
	height: 165.036px;
}

